<header class="bg-green-500 shadow py-3 font-[Rubik]">
  <nav class="flex container mx-auto">
    <h1 class="uppercase mr-5 font-bold text-2xl">
      <a href="/">Home</a>
    </h1>
    <ul class="flex gap-2 items-center">
      <li class="uppercase"><a href="/about">About</a></li>
      <li class="uppercase"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
