<div class="container mx-auto mt-20">
  <div class="ml-5 bg-green-300 w-max p-4">
    <h1 class="text-3xl font-bold tracking-wide mb-2">About Me</h1>
    <h2>Muhammad Labib Ansorudin</h2>
    <h2>22 Tahun</h2>
    <h2>Autodidak Programmer</h2>
  </div>
</div>
