<div class="container mx-auto mt-10">
  <h1 class="text-3xl font-bold tracking-wide mb-2">List Contact</h1>

  <div>
    <table>
      <thead>
        <tr class="bg-slate-200">
          <th>No.</th>
          <th class="w-40">Nama</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr class="p-5">
          <td>1</td>
          <td>Malcolm Lockyer</td>
          <td>contoh@gmail.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>The Eagles</td>
          <td>contoh@gmail.com</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Earth, Wind, and Fire</td>
          <td>contoh@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
