<div class="container mx-auto mt-20 flex">
  <!-- description -->
  <div class="ml-5">
    <h1 class="text-3xl font-bold tracking-wide">
      SIMPLE CONTACT APP DENGAN NODE JS
    </h1>

    <div class="mt-3 w-2/3 py-3">
      Latihan membuat halaman website sederhana menggunakan node js dengan
      framework express.js, serta menggunakan template engine ejs dan
      express-ejs-layout
    </div>

    <div class="mt-5">
      <button class="bg-green-400 shadow px-3 rounded py-1">
        <a class="flex items-center gap-2" href="/contact">
          List Contact
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
              /></svg></span
        ></a>
      </button>
    </div>
  </div>

  <!-- images -->
  <div class="w-full flex items-center justify-center">
    <img class="w-1/2" src="/images/image-1.svg" alt="nodejs" />
  </div>
</div>
