@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Rubik;
}

th,
td {
  padding: 5px 10px;
  text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
  width: 300px;
}
